<div class="center-align">

    <h1>Category page:</h1>

    <%@category.each do |truck|%>
        <ul>
            <li> name: <%=truck.name%></li>
            <li> category: <%=truck.category%></li>
            <li> phone number:<%=truck.phone%></li>
            <li>current location: <%=truck.current_location%></li>
        </ul>
    <%end%>
        <%= link_to "back to all food trucks", food_trucks_path%>
</div>
    