<div class="center-align">
<div class="container">

    <h1> WELCOME </h1>
</div>
    <h3> Just another food truck app to review well, foodtrucks!</h3>

<div  class="center-align">

    <%if user_signed_in?%>
        <%= link_to "create food truck", new_food_truck_path %>
    <br>
        <%= link_to 'jump to all reviews', reviews_path %>
    <br>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'login', new_user_session_path %>
    <%end%>
</div>

    <br>
        <% @foodtruck.each do |truck|%>
        <div class="container">
            <ul>
             <div class="row">
                <div class="col s12 m6">
                    <div class="card white">
                        <div class="card-content black-text">
                         <span class="card-title">
        Food Truck Name: <%= link_to "#{truck.name}", food_truck_path(truck) %></span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
            </ul>
        <%end%>
<div class="container">
    <h1>Top categories:</h1>
        </div>
            <div class="container">
            <div class="container">
    <li>
        <%= link_to "mexican", foodtrucks_mexican_path %>
    </li>

    <li> 
        <%= link_to "italian", foodtrucks_italian_path %>
     </li>

    <li>
        <%= link_to "american", foodtrucks_american_path %>
     </li>
        </div>
        </div>
    <br>
    <div>





   
         
            