<!DOCTYPE html>
<html>
  <head>
    <title>RailsFoodTruckReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <!---------nav bar------>
  <nav>
  <div class="left-align">
    <div class="nav-wrapper">
    <div class="container">
      <a class="brand-logo"><i class="material-icons" >local_shipping</i>TRUCKY™</a>
      </div>
      <div  class="left-align">
      <ul class="right hide-on-med-and-down">
        <li><a href="reviews#index"><i class="material-icons">border_color</i>Review</a></li>
        <li><a href="food_trucks#index"><i class="material-icons">directions_bus</i>Food</a></li>
        <li><a href=""><i class="material-icons">eject</i>Logout</a></li>
     </div>
     </div>
    <!---------nav bar------>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
   </ul>
    </div>
  </nav>
    <%= yield %>
  
    <!-------------footer-------->
     <div  class="left-align">  
     <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Thank you for visiting TRUCKY™</h5>
                <p class="grey-text text-lighten-4">Links coming soon.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 TRUCKY™  Copyright 
            </div>
          </div>

        </footer>
          </div>
    <!-------------footer-------->
            
  </body>
</html>
