<!DOCTYPE html>
<html>
  <head>
    <title>RailsFoodTruckReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <!---------nav bar------>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><i class="material-icons">local_shipping</i>TRUCKY</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html"><i class="material-icons">border_color</i>Review</a></li>
        <li><a href="collapsible.html"><i class="material-icons">directions_bus</i>Food</a></li>
        <li><a href="mobile.html"><i class="material-icons">eject</i>Logout</a></li>
      </ul>
    </div>
  </nav>
    <!---------nav bar------>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
